.responsible {
  display: flex;
  /* padding: 7px 17px 7px 16px; */
  column-gap: 8px;
  align-items: center;
}

.responsible__title-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.responsible__title {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, .54);
  margin: 0;
  padding: 0;
}

.responsible__name {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: (0, 0, 0, .8);
  margin: 0;
  padding: 0;
}
